body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("img_girl.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landscape {
    position: fixed;
    height:100%;
    z-index: -1;
}

#goHome {
    height:60px;
}

#pokemon_stage {
    position: fixed;
    top: 200px;
    left: 450px;
    width: 800px;
}