* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#background-animation {
    position: fixed;
    right: 0;
    bottom: -60px;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

#pokemon-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=- */

#top-border {
    position: fixed;
    left: 0;
    top: 0;
    height: 13vh;
}
#bottom-border {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 9vh;
}

.pkmAUTObar{
    position: fixed;
    top: 14.8vh;
    left: 15.2vw;
    width: 20vw;
    z-index: 5;
}
.searchField {
    height: 5vh;
}
.pkmAUTObutton{
    position: fixed;
    top: 14.8vh;
    left: 34vw;
    width: 8.5vw;
    height: 5vh;
}
#pokedex-left-panel {
    position: fixed;
    top: 22vh;
    left: 15vw;
    height: 65vh;
    z-index: -1;
}
.pokemon-display {
    position: fixed;
    top: 25vh;
    left: 17vw;
    height: 47vh;
    z-index: 2;
}
#pokemon-display {
    position: fixed;
    top: 25vh;
    left: 17vw;
    height: 47vh;
    z-index: 3;
}
#left-toggle {
    position: fixed;
    top: 78vh;
    left: 20vw;
}
#right-toggle{
    position: fixed;
    top: 78vh;
    left: 30vw;
}

#pokedex-right-panel {
    position: fixed;
    top: 22vh;
    left: 50vw;
    height: 65vh;
}
#pokedex-right-panel-invisible-sheet {
    position: fixed;
    top: 22vh;
    left: 50vw;
    height: 65vh;
    z-index: 100;
}
#radar-chart {
    position: fixed;
    top: 22vh;
    left: 51.5vw;
    width: 25vw;
    height: 55vh;
}
/* #myChart {
    doesnt do aything, its based on the container its in aka radar chart
    height: 500vh;
    width: 500vw;
} */
#type1 {
    position: fixed;
    top: 74vh;
    left: 58vw;
}
#type2 {
    position: fixed;
    top: 74vh;
    left: 67vw;
}
#goHome {
    position: fixed;
    top: 3.3vh;
    left: 21vw;
    height: 6vh;
}
