body{
background-image: url("../assets/images/registry.jpg")
}
h1{
        text-align: center;
       right:50%;
       color:white;
       font-size: 72px;
    }
.users{
    right:50%;
    text-align:center;
    color:white;
    font-size:72px;
}
.pokemon{
    right:50%;
    text-align:50%;
}

