#myVideo {
    position: fixed;
    right: 0;
    bottom: -60px;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

#logoimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 45px;
    background-color: #dc0a2d;
    color: white;
    text-align: center;
 }

#registerContainer {
    /* background-color:rgb(190, 190, 190); */
    /* opacity: 0.5; */
    /* border-radius:1; */
}

#pokedexContainer {
    /* background-color:rgb(190, 190, 190); */
    /* opacity: 0.5; */
}