*{
    color: azure
}

#input {
    
    margin-top: 5px;
    margin-left: 30px;
}
#choose {
    margin-top: 5px;
    margin-left: 30px;
    color:black;
}


#landscape {
    position: fixed;
    height:100%;
    z-index: -1;
}

#goHome {
    position: fixed;
    top: 60px;
    left: 1555px;
    height:90px;
}

#pokemon_stage_container{
    position: fixed;
    top: 200px;
    left: 450px;
    width: 800px;
}

#pokemon_stage {
    position: fixed;
    top: 200px;
    left: 450px;
    width: 800px;
}

/* #game-div {
    position: relative;
    top: 200px; 
    left: 450px;
    width: 800px;
} */

#player1 {
    position: fixed;
    top: 360px; 
    left: 600px;
    width: 800px;
}

#player2{
    position: fixed;
    top: 360px; 
    left: 1050px;
    width: 800px;
}

#oneplayer {
    position: fixed;
    top: 360px; 
    left: 600px;
    width: 800px;
}

#twoplayer {
    position: fixed;
    top: 360px; 
    left: 1050px;
    width: 800px;
}

#chat {
    position: fixed;
    top: 629px; 
    left: 700px;
    /* width: 800px; */
}

#chat-input {
    width: 300px;
}

#underconstruction {
    position: fixed;
    top: 685px; 
    left: 750px;
    width: 200px;
}

h1 {
    text-align: center;
    background-color: darkolivegreen;
    border-bottom: solid 5px darkolivegreen;
}

#chat-send {
    color: black;
}